[Unit]
Description=Linux Validation Suite first boot setup
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/lvs/lvs-firstboot-setup

[Install]
WantedBy=multi-user.target
